@{
    ViewData["Title"] = "Contact Page";
}
<link rel="stylesheet" type="text/css" href="~/css/Contact.css" />
<body>
<div class="contact-body">
    <div class="content text-white">
        <h1 class="contact-heading">Contact & About</h1>
    </div>
    <article class="row">
        <section class="col-md-4 col-sm-4">
            <div class="tablerow">
                <header class="contact-header">Contact Us</header>
                    <p>This website was written by Pranish Pun<br />To get in contact please email <a href="https://mail.google.com/mail/u/0/#inbox?compose=new">u3246409@uni.canberra.edu.au.</a><br></p>
            </div>
        </section>
        <section class="col-md-4 col-sm-4">
            <div class="tablerow">
                <header class="contact-header">About Us</header>
                <p>
                    This website provides an introduction to Artificial Intelligence and was created as partial fulfillment of the assessment requirements
                    of Web Design and Programming at the University of Canberra. This site is built on the ASP.NET CORE framework and employs Bootstrap
                    responsive design techniques..
                </p>
            </div>
        </section>
        <section class="col-md-4 col-sm-4">
            <div class="tablerow">
                <header class="contact-header">Copyright</header>
                <div class="text">
                    <p>
                        All images used in this website were downloaded from <a href="https://unsplash.com/">Unsplash</a>. The icons for the footer from <a href="https://fontawesome.com/"> fontawesome</a>. The Anton font used for headers
                        from <a href="https://fonts.google.com/"> Google Fonts</a>. The AI jobs dataset from <a href="https://ai-jobs.net/"> Insights</a>. The Python source from <a href="https://www.kaggle.com/code/sowrabhghosh/data-science-salary-2020-22-analysis"> Kaggle</a>. The Python web based on PyScript from <a href="https://realpython.com/pyscript-python-in-browser/"> Real Python</a>.
                </p>
                </div>
            </div>
        </section>

    </article>
</div>
</body>
